nav > ul { 
    /* Remover marcadores, margem e padding da lista: */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcyan;
    /* Posicionar menu no início da página */
    position: fixed;
    top: 0;
    width: 100%;
  }

  .nav li {
    float: left;
    border-right: 1px solid grey;
  }

  .nav li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: darkred;
  }
  
  /* Muda a cor do link ao passar o mouse */
  .nav li a:hover {
    background-color: lightseagreen;
    color: white;
  }

  .nav li:last-child {
    border-right: none;
  }

  main {
      position: fixed;
      top: 50px;
  }