/* Remover marcadores, margem e padding da lista: */
nav > ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightcyan;
  }

  .nav li {
    border-bottom: 1px solid grey;
  }

  .nav li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Muda a cor do link ao passar o mouse */
  .nav li a:hover {
    background-color: #555;
    color: white;
  }

  .nav li:last-child {
    border-bottom: none;
  }

